    /* Global */

@font-face {
    font-family: 'helvari-Medium-Italic';
    src: url('resource/fonts/helvari-Medium-Italic.woff') format('woff');
}

@font-face {
    font-family: "Prankster"; /* This is solely for the L-marker */
    src: url("resource/fonts/Prankster.woff2");
    src: url("resource/fonts/Prankster.woff2") format("woff2")/*,
         url("//db.onlinewebfonts.com/t/31df24a9fd693da66181cc0db9b4469a.eot?#iefix") format("embedded-opentype"),
         url("//db.onlinewebfonts.com/t/31df24a9fd693da66181cc0db9b4469a.woff2") format("woff2"),
         url("//db.onlinewebfonts.com/t/31df24a9fd693da66181cc0db9b4469a.woff") format("woff")*/;
}

@font-face {
    font-family: "CCColleenDoran-Italic"; /* this is the font for aside menu ui */
    src: url("resource/fonts/ColleenDoran.woff2") format("woff2")/*,
         url("//db.onlinewebfonts.com/t/1923d78b2f7589f4b632bed235033497.woff2") format("woff2"),
         url("//db.onlinewebfonts.com/t/1923d78b2f7589f4b632bed235033497.woff") format("woff")*/;
}

body {
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    background: url("resource/bg.png") no-repeat;
    background-size: 100vw 100vh;
    z-index: -2;
}

ul, ol {
    padding: 0;
    margin: 0;
}

.invisible {
    display: none;
}

    /* HS */

#hot-stations {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;
    list-style: none;
}

.hot-station {
    width: 122px;
    height: 77px;
    font-size: 22px;
    color: transparent;
    background: url("resource/ui/hs.png") no-repeat;
    text-shadow:
                10px -2px 1px #3b3b3b,
                11px -2px 1px white;
    position: relative;
}

    /* HS Dishes */

.hs-dish {
    position: absolute;
    width: 122px;
    height: 77px;
    background-repeat: no-repeat;
    top: 20px;
    left: 8px;
    animation-name: side-appear;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.hs-counter {
    width: 10px;
    height: 10px;
    position: absolute;
    right: 55px;
    bottom: 25px;
    color: white;
    font-size: 32px;
    text-shadow: none;
}

    /* Order Trays */

main section:first-of-type {
    margin-top: 50px;
}

#orders {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: max-content;
    margin-right: 0;
}

.tray {
    margin-bottom: 5px;
    position: relative;
    width: 64px;
    height: 66px;
    padding-left: 2px;
    font-family: "Inconsolata", sans-serif;
    font-size: 32px;
    color: #3b3b3b;
    cursor: pointer;
}

.tray.idle {
    background: url("resource/ui/order-tray.png") no-repeat;
}

.tray.selected {
    background: url("resource/ui/order-tray-selected.png") no-repeat;
}

.order-tray {
    width: 320px;
    height: 65px;
    position: absolute;
    left: 10px;
    top: 0;
}

.order-tray.active {
    transform: scale(1.1) translateY(-2px);
}

    /* Cook Station */

#main-ui {
    position: relative;
    display: none;
}

#main-ui.show {display: block;}

#main-ui.show #cook-station {
    position: absolute;
    left: 20vw;
    bottom: -2vh;
    width: 1117px;
    height: 221px;
    background-image: url('resource/ui/empty_cook_ui.png');
    background-size: cover;
}

#main-ui.show #oven {
    position: absolute;
    left: 35vw;
    bottom: 19.3vh;
    width: 597px;
    height: 308px;
    background-image: url('resource/ui/oven.png');
    background-size: cover;
    z-index: -2;
}

.recipe {
    position: relative;
    left: 70px;
    top: 65px;
    width: 900px;
    height: 25px;
    padding-left: 12px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 45px;
    row-gap: 20px;
    color: whitesmoke;
    font-family: "josefin-sans", sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 28px;
    font-style: italic;
    text-transform: capitalize;
    counter-reset: recipe-counter;
}

.recipe li {
    width: max-content;
    display: inline-flex;
    justify-self: flex-start;
    position: relative;
    counter-increment: recipe-counter;
}

.recipe li::before {
    content: '0' counter(recipe-counter) '.';
    padding-right: 5px;
    font-size: inherit;
    font-style: inherit;
}

.recipe li::after {
    position: absolute;
    left: -30px;
    top: -2px;
    content: "L";
    display: inline;
    text-align: center;
    vertical-align: bottom;
    width: 20px;
    height: 32px;
    font-family: "Prankster", sans-serif;
    font-size: 22px;
    font-style: normal;
    color: lavenderblush;
    background-color: blueviolet;
}

/* Secondary Section */

    /* Template Styles */

.dish {
    content: "";
    width: 320px;
    height: 65px;
    position: absolute;
    left: -102px;
    top: 4px;
    z-index: -1;
    background: no-repeat;
    animation-name: appear;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

    /* Customers */

#client-base {
    position: relative;
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    /*left: -700px;*/
}

.customer-column {
    display: flex;
    min-width: 200px;
}

.customer {
    width: 190px;
    height: 385px;
    position: relative;
    bottom: 116px;
    z-index: -2;
    background-repeat: no-repeat;
}

.customer-spawn {
    left: -402px;
    animation-name: appear;
    animation-duration: 0.7s;
    animation-timing-function: cubic-bezier(0.1, 0.3, 0.9, 0.5);
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.customer-leave {
    opacity: 0;
    transition: opacity 1s;
}

    /* Visitors */

.gp-visitor_sitting {
    position: absolute;
    z-index: -3;
}

.sitting-visitor_1 {
    left: 74%;
    bottom: 23.5%;
}

.sitting-visitor_2 {
    left: 39%;
    bottom: 23.5%;
}

    /* Hovers */

.hot-station:hover {
    background-image: url("resource/ui/hs-select.png");
    transform: scale(1.1);
}

.order-tray:hover .dish {
    transform: scale(1.05) translateX(4px) translateY(-1px);
    transition-duration: 0.1s;
}

.order-tray:hover .tray {
    background-image: url("resource/ui/order-tray-selected.png");
}

    /* Animations */

@keyframes appear {
    from {left: -402px;}
    to {left: -2px;}
}

@keyframes side-appear {
    from {top: -32px;}
    to {top: 20px;}
}
